# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfstate.backup
**/.terraform.lock.hcl

# Ansible
*.retry
*.log

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Sensitive files
*.pem
*.key
*.secret
.env
*.env

# Binary files (large)
*.amd64
minikube-linux-amd64

# Node
node_modules/
